<p>
  <%= owner.label :email  %><br>
  <%= owner.email_field :email %>
</p>
<p>
  <%= owner.label :password %>
  <%= owner.password_field :password %>
</p>
<p>
  <%= owner.label :password_confirmation %>
  <%= owner.password_field :password_confirmation %>
</p>